@import "tailwindcss";


.title {
  font-family: var(--font-pp-monument), sans-serif;
}
.title2 {
  font-family: var(--font-integrated), sans-serif;
  text-transform: none;
}


.title3 {
  font-family: var(--font-anton), sans-serif;
  font-weight: 400;


    line-height: .9;
}.title4 {
  font-family: var(--font-helvetica), sans-serif;
  text-transform: none;

}